/* LandingPage.css */

* {
	margin: 10px;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, sans-serif;
	background-color: var(--background-gray); /* Dark gray-blue background */
	color: #f5f5f5; /* Light text color for dark mode */
	margin: 10px;
}

.landing-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	padding: 20px;
	background-color: var(--background-gray); /* Match body background */
	text-align: center;
}

.header {
	margin-bottom: 20px;
}

.header h1 {
	font-size: 2em;
	color: #f5f5f5; /* White text for heading */
}

.header p {
	color: #d1d5db; /* Lighter gray for the paragraph */
	font-size: 1.2em;
	margin-top: 8px;
}

.auth-buttons {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	width: 100%;
}

.button {
	padding: 15px;
	font-size: 1em;
	border: none;
	border-radius: 5px;
	width: 100%;
	max-width: 300px;
	cursor: pointer;
	transition: background-color 0.3s;
}

.button.sign-up {
	background-color: var(--default-green);
	color: #f5f5f5;
}

.button.sign-up:hover {
	background-color: var(--default-green-hover); /* Darker green on hover */
}

.button.login {
	background-color: var(--default-blue);
	color: #f5f5f5;
}

.button.login:hover {
	background-color: var(--default-blue-hover); /* Darker blue on hover */
}

/* For larger screens */
@media (min-width: 768px) {
	.landing-container {
		padding: 40px;
	}

	.header h1 {
		font-size: 3em;
	}

	.header p {
		font-size: 1.5em;
	}
}

/* Custom styling for the Google Sign-In button */
.google-signin-button div {
	background-color: var(--card-gray);
	color: white !important;
	border: none !important;
	border-radius: 30px !important;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: background-color 0.3s !important; /* Add transition for smooth hover effect */
}

.google-signin-button div:hover {
	background-color: var(--card-gray-hover) !important;
}
