/* From Uiverse.io by xXJollyHAKERXx */
.spinner-container {
	background-image: linear-gradient(transparent 75%, rgba(255, 255, 255, 1));
	width: 100px;
	height: 100px;
	animation: spinning82341 1s linear infinite;
	border-radius: 50px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	justify-content: center;
	align-items: center;
}

.spinner {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--background-gray);
	width: 90px;
	height: 90px;
	border-radius: 45px;
}

@keyframes spinning82341 {
	0% {
		transform: translate(-50%, -50%) rotate(0deg);
	}
	100% {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}
